  .chat-box {
    position: fixed;
    width: 20%;
    height: 20%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    border: 1px solid;
    border-color: black;
    z-index: 1;
  }

  p {
      padding-left: 1rem;
  }
  input {
    outline:none;
   }

.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: left;
    height: 100%;
    width: 100%;
  }
  
  .input-container {
    padding-left: 1em;
    display: flex;
  
    input {
      height: 45px;
      width: 100%;
      flex: 1;
      border: none;
      font-size: 15px;
      background: white url(/assets/type-icon.svg) 98% no-repeat;
    }
  }
  
