@import '../../assets/utils';

.main-text-component {
  text-align: center;
  font-size: 1rem;
  @include flex-center;
  flex-direction: column;
  color: white;

  .home-separator {
    @include white-separator;
    width: 20rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .button-row {
    display: flex;
    margin-top: 1rem;
    > * {
      margin-left: 1rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}