.local {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 20vw;
    height: 20vh;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
  }
  
  .remote {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .top-header {
    position: fixed;
    margin-top: 1rem;
    > * {
      margin-left: 1rem;
      &:first-child {
        margin-left: 0;
      }
    }
    padding-top: 2rem;
    right: 2rem;
  }